# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Django-specific files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.pdb
*.sqlite3
*.env

# Django migrations
env/migrations/*

# Environment variables
.env

# Media and static files
media/
staticfiles/
static/

# Local development settings
local_settings.py

# Database files
*.sqlite3

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# MyPy
.mypy_cache/

# Django extensions
# Django Compressor
compressor/

# Unit test reports
nosetests.xml
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
